{%extends "query/base.html" %}

{% block extra_css %}
<style>
    .button {
        background-color: #4CAF50;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 8px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 8px;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block extra_script %}
<script>
    var start_time = (new Date()).valueOf();

    function validateForm() {
        document.getElementById("score").value = slider.getValue();
        var end_time = (new Date()).valueOf();
        document.getElementById("time_cost").value = end_time - start_time;
        return true;
    }
</script>
{% endblock %}

{% block main_body %}

<div class="container mt-2">
    <h3 style="text-align: center;">Query{{ question_id }}: {{ query }}</h3>
    <h3 style="text-align: center;">intent description: {{ intent }}</h3>

    <div class="row justify-content-center">
        <div class="col-3">
            {% load static %}
            <img style="width: 100%;" src="{% static img1 %}" />
        </div>
    </div>

    <hr/>

    <div class="row justify-content-center">
        <div class="col-3">
            <div class="button" value="start annotation"></div>
        </div>
    </div>

    <form name="question" action="{% url 'query:questions' question_id user_name %}"
          onsubmit="return validateForm();" method="post">
    {% csrf_token %}

    <input type="hidden" name="score" id="score">
    <input type="hidden" name="time_cost" id="time_cost">

    <input type="submit" value="next" class="button" />
    </form>


</div>
{% endblock %}
