{%extends "query/base.html" %}

{% block extra_css %}
<style>
    .my-button {
        width: 100%;
        background-color: rgb(76, 175, 80);
        border: 1px solid rgb(76, 175, 80);
        border-radius: 5px;
        color: white;
        padding: 8px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 8px;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block extra_script %}
<script>
    var start_time = (new Date()).valueOf();

    // 标注的选项
    var grade = -1;

    // 8个按钮的颜色
    var grade_color = ["",
        "rgb(23, 170, 228)",
        "rgb(23, 170, 228)",
        "rgb(76, 175, 80)",
        "rgb(228, 192, 34)",
        "rgb(228, 192, 34)",
        "rgb(231, 35, 110)",
        "rgb(231, 35, 110)",
        "rgb(231, 35, 110)"
    ];

    // 记录stage2用时，提交表单，转到下一个query
    function validateForm() {
        if(grade < 0){
            alert("Please select an option");
            return false;
        }
        document.getElementById("grade").value = grade;
        var end_time = (new Date()).valueOf();
        document.getElementById("time_s2").value = end_time - start_time;
        return true;
    }

    // 进入stage2开始标注，显示下方两张图片，设置按钮的样式，记录stage1用时
    function annotate() {
        var end_time = (new Date()).valueOf();
        document.getElementById("time_s1").value = end_time - start_time;
        start_time = end_time;
        document.getElementById("img-pair").style.display="inline";
        document.getElementById("annt-btn").style.display="none";
        for (i = 1; i < 9; i++) {
            document.getElementById("grade-btn" + i).style.border = "2px solid " + grade_color[i];
            document.getElementById("grade-btn" + i).style.backgroundColor = grade_color[i];
        }
    }

    //  点击按钮，设置选中样式，记录grade
    function set_grade(value) {
        if (grade > 0) {
            document.getElementById("grade-btn" + grade).style.border = "2px solid " + grade_color[grade];
        }
        grade = value;
        console.log(grade);
        document.getElementById("grade-btn" + grade).style.border = "2px solid black";
    }
</script>
{% endblock %}

{% block main_body %}

<div class="container mt-2">
    {% if environment == '0'%}
    <h3 style="text-align: center;">Query{{ question_id }}: {{ query }}</h3>
    <hr/>
    {% elif environment == '1'%}
    <h3 style="text-align: center;">Query{{ question_id }}: {{ query }}</h3>
    <h3 style="text-align: center;">intent description: {{ intent }}</h3>
    <hr/>
    {% endif %}

    <!-- <div class="row justify-content-center mt-3">
        <div class="col-3">
            {% load static %}
            <img style="width: 100%;" src="{% static img1 %}" />
        </div>
    </div> -->



    <div class="row justify-content-center" id="annt-btn">
        <div class="col-3">
            <div class="my-button" onclick="annotate()">start annotation</div>
        </div>
    </div>

    <div class="container" style="display: none;" id="img-pair">
        <div class="row justify-content-around">
            <div class="col-4 align-self-center">
                {% load static %}
                <img style="width: 100%;" src="{% static img2 %}" />
            </div>
            <div class="col-4 align-self-center">
                {% load static %}
                <img style="width: 100%;" src="{% static img3 %}" />
            </div>
        </div>

        <hr/>

        <div class="row justify-content-around">
            <div class="col-2 align-self-center">
                <div class="my-button" onclick="set_grade(1)" id="grade-btn1">definitely left</div>
            </div>
            <div class="col-2 align-self-center">
                <div class="my-button" onclick="set_grade(2)" id="grade-btn2">prefer left</div>
            </div>
            <div class="col-2 align-self-center">
                <div class="my-button" onclick="set_grade(3)" id="grade-btn3">tie</div>
            </div>
            <div class="col-2 align-self-center">
                <div class="my-button" onclick="set_grade(4)" id="grade-btn4">prefer right</div>
            </div>
            <div class="col-2 align-self-center">
                <div class="my-button" onclick="set_grade(5)" id="grade-btn5">definitely right</div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-2 align-self-center">
                <div class="my-button" onclick="set_grade(6)" id="grade-btn6">left not relevant</div>
            </div>
            <div class="col-2 align-self-center">
                <div class="my-button" onclick="set_grade(7)" id="grade-btn7">both not relevant</div>
            </div>
            <div class="col-2 align-self-center">
                <div class="my-button" onclick="set_grade(8)" id="grade-btn8">right not relevant</div>
            </div>
        </div>

        <hr/>

        <form name="question" action="{% url 'query:questions' question_id user_name environment %}"
              onsubmit="return validateForm();" method="post">
        {% csrf_token %}

        <input type="hidden" name="grade" id="grade">
        <input type="hidden" name="time_s1" id="time_s1">
        <input type="hidden" name="time_s2" id="time_s2">
        <div class="row justify-content-center mt-1">
            <div class="col-2">
                <input type="submit" value="next" class="my-button" />
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}
