{%extends "query/base.html" %}

{% block extra_css %}
<style>
    div.mainbody {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 85%;
        margin: auto;
        margin-top: 20px;
        overflow: auto;
    }

    div.mainbody p {
        font-size: 16px;
    }

    div.mainbody h2 {
        text-align: center;
    }

    div.img1 {
        width: 45%;
        float: left;
    }

    div.img2 {
        width: 45%;
        float: right;
    }

    div.imgs {
        overflow: auto;
        margin: 20px 0;
    }

    div.radios {
        overflow: auto;
        width: 80%;
        margin: auto;
    }

    div.my_radio {
        width: 20%;
        height: 100%;
        float: left;
        text-align: center;
        background-color: #e2e2e2;
        padding: 8px 0;
        margin: 0 2.5%;
        display: inline-block;
        border-radius: 6px;
    }

    #img1 {
        float: right;
    }

    #img2 {
        float: left;
    }

    .button {
        width: 10%;
        background-color: #4CAF50;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 8px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 8px 45%;
        cursor: pointer;
    }

    label:active {
        background-color: #c2c2c2;
    }

    input {
        background-color: #4caf50;
    }
</style>
{% endblock %}

{% block extra_script %}
<script>
    var start_time = (new Date()).valueOf();

    function validateForm() {
        var x = document.forms["question"]["choice"].value;
        if (x == null || x == "") {
            alert("please make a choice~");
            return false;
        }

        var end_time = (new Date()).valueOf();
        document.getElementById("ttt").value = end_time - start_time;
        return true;
    }

    function showBigImg(id) {
        $("#imgInModalID").attr("src", document.getElementById(id).src);
        $("#imgModal").modal('show');
    }
</script>
{% endblock %}

{% block main_body %}

<div class="mainbody">

    <h3 style="text-align: center;">查询词 {{ question_id }}: {{ img_name }}</h3>
    <h3 style="text-align: center;">描述: {{des}}</h3>

    <div class="imgs">
        <div class="img1">
        {% load static %}
            <img src="{% static img1 %}" id="img1" onclick="showBigImg('img1')"/>
        </div>
        <div class="img2">
        {% load static %}
            <img src="{% static img2 %}" id="img2" onclick="showBigImg('img2')"/>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg text-center" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="modalLabel"></h4>
                </div>
                <img alt="暂无图片" id="imgInModalID" src="" width="100%" >
            </div>
        </div>
    </div>

    <form name="question" action="{% url 'query:strict_mode' question_id user_name %}"
          onsubmit="return validateForm();" method="post">
    {% csrf_token %}
    <div class="radios">
        <div class="my_radio">
            <input type="radio" name="choice" value="-2" id="radio1" />
            <label for="radio1">Definitely here</label>
        </div>
        <div class="my_radio">
            <input type="radio" name="choice" value="-1" id="radio2" />
            <label for="radio2">Here</label>
        </div>
        <div class="my_radio">
            <input type="radio" name="choice" value="1" id="radio4" />
            <label for="radio4">Here</label>
        </div>
        <div class="my_radio">
            <input type="radio" name="choice" value="2" id="radio5" />
            <label for="radio5">Definitely here</label>
        </div>
    </div>

    <input type="hidden" name="time" id="ttt">

    <input type="submit" value="next" class="button" />
    </form>

</div>

{% endblock %}
