{%extends "query/base.html" %}

{% block extra_css %}
<style>
    div.mainbody {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 50%;
        margin: auto;
        margin-top: 80px;
        overflow: auto;
    }

    div.mainbody p {
        font-size: 16px;
    }

    div.mainbody h2 {
        text-align: center;
    }

    .button {
        width: 10%;
        background-color: #4CAF50;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 8px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }
</style>

{% endblock %}

{% block main_body %}
<div class="mainbody">

    <h3> 共涉及以下18个不同的查询：</h3>
    <table class="table">
        <thead>
            <tr>
            <th style="width: 10%">序号</th>
            <th>查询词</th>
            <th>描述</th>

            </tr>

        </thead>
        <tbody>
        <tr>
        <td>0</td>
        <td>飞机引擎壁纸</td>
        <td>包含飞机引擎的图片，用于桌面壁纸</td>
        </tr>
        <tr>
        <td>1</td>
        <td>坏笑表情包</td>
        <td>坏笑表情包</td>
        </tr>
        <tr>
        <td>2</td>
        <td>火龙果长在哪里</td>
        <td>从图中能够了解到火龙果的生长位置和环境</td>
        </tr>
        <tr>
        <td>3</td>
        <td>创造101</td>
        <td>国内首档偶像女团竞演养成类真人秀</td>
        </tr>
        <tr>
        <td>4</td>
        <td>泰国地图中文版全图</td>
        <td>泰国地图中文版全图</td>
        </tr>
        <tr>
        <td>5</td>
        <td>鸭舌帽</td>
        <td>帽顶平且有帽舌，与棒球帽不同</td>
        </tr>
        <tr>
        <td>6</td>
        <td>草莓音乐节田馥甄</td>
        <td>歌手田馥甄在草莓音乐节上的照片</td>
        </tr>
        <tr>
        <td>7</td>
        <td>普京骑马</td>
        <td>俄罗斯总统普京骑马的照片</td>
        </tr>
        <tr>
        <td>8</td>
        <td>头号玩家海报</td>
        <td>电影头号玩家相关海报</td>
        </tr>
        <tr>
        <td>9</td>
        <td>温莎结领带打法图解</td>
        <td>温莎结是一个形状对称、尺寸较大的领带结，图片展示该种领带结的打发</td>
        </tr>
        <tr>
        <td>10</td>
        <td>人工智能海报</td>
        <td>有人工智能元素的海报</td>
        </tr>
        <tr>
        <td>11</td>
        <td>爱奇艺 logo 高清</td>
        <td>视频网站爱奇艺的高清logo</td>
        </tr>
        <tr>
        <td>12</td>
        <td>2018世界杯吉祥物</td>
        <td>2018年俄罗斯世界杯吉祥物扎比瓦卡，小狼形象</td>
        </tr>
        <tr>
        <td>13</td>
        <td>钻石贴图</td>
        <td>具有钻石元素的贴图照片</td>
        </tr>
        <tr>
        <td>14</td>
        <td>复旦大学 logo</td>
        <td>复旦大学的logo</td>
        </tr>
        <tr>
        <td>15</td>
        <td>科比 跳投练习</td>
        <td>科比在进行跳投的照片，从图片中学习跳投姿势</td>
        </tr>
        <tr>
        <td>16</td>
        <td>紫色长发挑染</td>
        <td>挑染指不完全染发,通常只对部分头发进行染色。该查询为了解以紫色为主色调的长发挑染效果</td>
        </tr>
        <tr>
        <td>17</td>
        <td>古天乐金像奖</td>
        <td>演员古天乐领取金像奖的图片</td>
        </tr>
        </tbody>
    </table>

    <h3> 共有 {{ num }} 个 “图片组”需要进行标注.</h3>

    <a href="{% url 'query:questions' 0 user_name %}" class="btn btn-lg btn-success" style="margin-left: 40%;">下一步</a>

</div>
{% endblock %}
